/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2014, 8:14:29 PM
    Author     : Beleey
*/

body {
    background: url(#{resource['images:bg.jpg']});
}

#header {
    top:0px;
    left:0px;
    height:70px;
    width:100%;
    
}

#left {
    width:20%;
    min-height: 500px;
    /*background-color: bisque;*/
    float:left;
}

#right {
    width:80%;
    min-height: 500px;
    /*background-color: coral;*/
    float:right;
}

#title_front {
    margin-left: auto;
    margin-right: auto;
    color:white;
    font-size: xx-large;
    font-family: arial;
    width:700px;
}


