<ui:composition template="/WEB-INF/templates/default_inside_koordinator.xhtml"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui">
    <ui:define name="page_title">
        Ketersediaan Waktu
    </ui:define>
    <ui:define name="content">
        <div class="well">
            <h1>Ketersediaan Waktu Menguji/Membimbing</h1>
            <br/>
            <h:form>
                <h:panelGrid columns="2" border="0">
                    <h:panelGroup><span>Jadwal</span></h:panelGroup>
                    <h:panelGroup>
                        <p:selectOneMenu value="slot_jadwal">
                            <f:selectItem itemLabel="S1 Sidang (10 Maret 2014-20 Maret 2014)" itemValue="slot1" />  
                            <f:selectItem itemLabel="S2 Sidang (10 Juni 2014-20 Juni 2014)" itemValue="slot2" />
                            <f:selectItem itemLabel="S2 Seminar (10 Juni 2014-20 Juni 2014)" itemValue="slot3" />
                        </p:selectOneMenu>
                    </h:panelGroup>
                    <h:panelGroup><span>Tanggal</span></h:panelGroup>
                    <h:panelGroup>
                        <span><p:calendar value="#{periodeBean.periode.periodeTglawal}" pattern="MM/dd/yyyy" /></span>
                    </h:panelGroup>
                    <h:panelGroup><span>Jam</span></h:panelGroup>
                    <h:panelGroup>
                        <p:selectOneMenu value="jam">  
                            <f:selectItem itemLabel="10:00" itemValue="10" />  
                            <f:selectItem itemLabel="11:00" itemValue="11" />  
                        </p:selectOneMenu>
                    </h:panelGroup>
                    <h:panelGroup></h:panelGroup>
                    <h:panelGroup><h:commandButton type="submit" value="Simpan"></h:commandButton></h:panelGroup>
               
                </h:panelGrid>
                <br/>
                <div class="table_class">
                    <h:dataTable>
                        <h:column>
                            <f:facet name="header">NIM</f:facet>
                            10 Maret 2014 - 24 Maret 2014
                        </h:column>
                        <h:column>
                            <f:facet name="header">Nama</f:facet>
                            S2 Sidang
                        </h:column>
                        <h:column>
                            <f:facet name="header">Opsi</f:facet>
                            40
                        </h:column>
                        <h:column>
                            <f:facet name="header">Topik</f:facet>
                            Terbuka
                        </h:column>
                        <h:column>
                            <f:facet name="header">Pembimbing</f:facet>
                            generate tampilkan kunci
                        </h:column>
                        <h:column>
                            <f:facet name="header">Jadwal</f:facet>
                            generate tampilkan kunci
                        </h:column>
                        <h:column>
                            <f:facet name="header">Pilih</f:facet>
                            
                        </h:column>
                    </h:dataTable>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition> 