<ui:composition template="/WEB-INF/templates/default_inside_koordinator.xhtml"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui">
    <ui:define name="page_title">
        Mahasiswa Dibimbing/Diuji
    </ui:define>
    <ui:define name="content">
        <div class="well">
            <h1>Mahasiswa Dibimbing/Diuji</h1>
            <h:panelGrid columns="2" border="0">
                <h:panelGroup><span><b>Nama</b></span></h:panelGroup>
                <h:panelGroup><span>Wikan Danar</span></h:panelGroup>
                
                <h:panelGroup><span><b>KK</b></span></h:panelGroup>
                <h:panelGroup><span>RPL</span></h:panelGroup>
            </h:panelGrid>
            <br/>
            <div>Mahasiswa Dibimbing</div>
            <div class="table_class">
                <h:dataTable>
                    <h:column>
                        <f:facet name="header">NIM</f:facet>
                        
                    </h:column>
                    <h:column>
                        <f:facet name="header">Nama</f:facet>
                        S2 Sidang
                    </h:column>
                    <h:column>
                        <f:facet name="header">Opsi</f:facet>
                        40
                    </h:column>
                    <h:column>
                        <f:facet name="header">Topik</f:facet>
                        Terbuka
                    </h:column>
                    <h:column>
                        <f:facet name="header">Judul</f:facet>
                        generate tampilkan kunci
                    </h:column>
                </h:dataTable>
            </div>
            <div>Mahasiswa yang akan Diuji</div>
            <div class="table_class">
                <h:dataTable>
                    <h:column>
                        <f:facet name="header">NIM</f:facet>
                        
                    </h:column>
                    <h:column>
                        <f:facet name="header">Nama</f:facet>
                        S2 Sidang
                    </h:column>
                    <h:column>
                        <f:facet name="header">Opsi</f:facet>
                        40
                    </h:column>
                    <h:column>
                        <f:facet name="header">Topik</f:facet>
                        Terbuka
                    </h:column>
                    <h:column>
                        <f:facet name="header">Judul</f:facet>
                        generate tampilkan kunci
                    </h:column>
                </h:dataTable>
            </div>
        </div>
    </ui:define>
</ui:composition> 