<ui:composition template="/WEB-INF/templates/default_inside_koordinator.xhtml"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui">
    <ui:define name="page_title">
        Pilih Mahasiswa Diuji
    </ui:define>
    <ui:define name="content">
        <div class="well">
            <h1>Pilih Mahasiswa Diuji</h1>
            <br/>
            <h:form>
                <h:panelGrid columns="2" border="0">
                    <p:outputLabel for="prodi" value="Prodi: " />
                        <p:selectOneMenu id="prodi" value="#{mahasiswaBean.prodi}" style="width:150px">
                            <p:ajax listener="#{mahasiswaBean.onProdiChange}" update="opsi" />
                            <f:selectItem itemLabel="Pilih Prodi" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{mahasiswaBean.listProdi}" />
                        </p:selectOneMenu>

                        <p:outputLabel for="opsi" value="Opsi: " />
                        <p:selectOneMenu id="opsi" value="#{mahasiswaBean.opsi}" style="width:150px">
                            <f:selectItem itemLabel="Pilih Opsi" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{mahasiswaBean.listProdi}" />
                        </p:selectOneMenu>
                    <h:panelGroup></h:panelGroup>
                    <h:panelGroup><h:commandButton type="submit" value="Tampil"></h:commandButton> <h:commandButton type="submit" value="Tampil Semua"></h:commandButton></h:panelGroup>
                </h:panelGrid>
                <br/>
                <div class="table_class">
                    <h:dataTable value="#{mahasiswaBean.mahasiswaList}" var="mhs" >
                        <h:column>
                            <f:facet name="header">NIM</f:facet>
                            #{mhs.mhsNim}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Nama</f:facet>
                            #{mhs.mhsNama}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Prodi</f:facet>
                            #{mhs.prodi}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Opsi</f:facet>
                            #{mhs.opsi}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Action</f:facet>
                            pilih
                        </h:column>
                    </h:dataTable>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition> 