<ui:composition template="/WEB-INF/templates/default_inside_koordinator.xhtml"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui">
     <ui:define name="page_title">
        Tampilkan Jadwal
    </ui:define>
    <ui:define name="content">
        <div class="well">
            <h1>Pilih Slot Jadwal</h1>
            <br/>
            <h:form>
                <p:selectOneMenu value="#">
                    <f:selectItems value="#{periodeBean.periodeList}" var= "per" itemLabel="#{per.periodeJenis}" itemValue="#{per}" />  
                </p:selectOneMenu>
                <br/>
                <h:commandButton type="submit" value="Tampilkan"></h:commandButton>
            </h:form>
        </div>
        
    </ui:define>
    
</ui:composition>           
