<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

<div id="top" class="top">
    <ui:insert name="top">Top</ui:insert>
</div>
</html>