<ui:composition template="/WEB-INF/templates/default_inside_koordinator.xhtml"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui">
     <ui:define name="page_title">
        Daftar Dosen
    </ui:define>
    <ui:define name="content">
        <div class="well">
            <h1>Daftar Dosen</h1>
            <h:form>
            <h:panelGrid columns="2" border="0">
                <h:panelGroup><span>KK</span></h:panelGroup>
                <h:panelGroup>
                    <p:selectOneMenu value="#{dosenBean.kkDosen}">
                        <f:selectItem itemLabel="RPL" itemValue="RPL" />  
                        <f:selectItem itemLabel="Informatika" itemValue="INFORMATIKA" />
                        <f:selectItem itemLabel="HPC" itemValue="HPC" />
                        <f:selectItem itemLabel="Basis Data" itemValue="DB" />
                    </p:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup></h:panelGroup>
                <h:panelGroup><h:commandButton type="submit" value="Tampil" action="#{dosenBean.getDosenListByKK(dosenBean.kkDosen)}"></h:commandButton><h:commandButton type="submit" value="Tampil Semua" action="#{dosenBean.allDosenList}"></h:commandButton></h:panelGroup>
                
            </h:panelGrid>
            </h:form>
            <h:form>
                <div class="table_class">
                    <h:dataTable value="#{dosenBean.allDosenList}" var="dsn" >
                        <h:column>
                            <f:facet name="header">Initial</f:facet>
                            #{dsn.dosenInitial}
                        </h:column>
                        <h:column>
                            <f:facet name="header">NIP</f:facet>
                            #{dsn.dosenGelarDepan}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Nama</f:facet>
                            #{dsn.dosenNama}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Action</f:facet>
                            Tampilkan
                        </h:column>
                    </h:dataTable>
                </div>
            </h:form>
        </div>
        
    </ui:define>
    
</ui:composition>           
