<ui:composition template="/WEB-INF/templates/default_inside_koordinator.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui">
    <ui:define name="page_title">
        Buat slot jadwal
    </ui:define>
    <ui:define name="content">
        <div class="well">
            <h4>Buat slot baru</h4>
            <br/>
            <h:form>
                <h:panelGrid columns="2" border="0">
                    <h:panelGroup><span>Tanggal mulai</span></h:panelGroup>
                    <h:panelGroup><span><p:calendar value="#{periodeBean.periode.periodeTglawal}" pattern="MM/dd/yyyy" /></span></h:panelGroup>

                    <h:panelGroup><span>Tanggal Akhir</span></h:panelGroup>
                    <h:panelGroup><span><p:calendar value="#{periodeBean.periode.periodeTglakhir}" pattern="MM/dd/yyyy" /></span></h:panelGroup>

                    <h:panelGroup><span>#Pembimbing</span></h:panelGroup>
                    <h:panelGroup>
                        <p:selectOneMenu value="#{periodeBean.periode.periodeJumlahPembimbing}">  
                            <f:selectItem itemLabel="1" itemValue="1" />  
                            <f:selectItem itemLabel="2" itemValue="2" />  
                            <f:selectItem itemLabel="3" itemValue="3" />  
                            <f:selectItem itemLabel="4" itemValue="4" />  
                        </p:selectOneMenu> 
                    </h:panelGroup>
                    <h:panelGroup><span>#Penguji</span></h:panelGroup>
                    <h:panelGroup>
                        <p:selectOneMenu value="#{periodeBean.periode.periodeJumlahPenguji}">  
                            <f:selectItem itemLabel="1" itemValue="1" />  
                            <f:selectItem itemLabel="2" itemValue="2" />  
                            <f:selectItem itemLabel="3" itemValue="3" />  
                            <f:selectItem itemLabel="4" itemValue="4" />  
                        </p:selectOneMenu> 
                    </h:panelGroup>
                    <h:panelGroup><span>Jenis Jadwal</span></h:panelGroup>
                    <h:panelGroup>
                        <p:selectOneRadio id="options" value="#{periodeBean.periode.periodeJenis}" layout="grid" columns="2">
                            <f:selectItem itemLabel="S1 - Seminar 1" itemValue="S1 - Seminar 1" />
                            <f:selectItem itemLabel="S2 - Seminar 1" itemValue="S2 - Seminar 1" />
                            <f:selectItem itemLabel="S1 - Seminar 2" itemValue="S1 - Seminar 2" />
                            <f:selectItem itemLabel="S2 - Seminar 2" itemValue="S2 - Seminar 2" />
                            <f:selectItem itemLabel="S1 - Sidang" itemValue="S1 - Sidang" />
                            <f:selectItem itemLabel="S2 - Sidang" itemValue="S2 - Sidang" />
                        </p:selectOneRadio>
                    </h:panelGroup>
                    <h:panelGroup><span>Batas waktu sebelum auto generate</span></h:panelGroup><br/>
                    <h:panelGroup><span><p:calendar value="#{periodeBean.periode.periodeTglbatas}" pattern="MM/dd/yyyy" /></span></h:panelGroup>
                    <br/>
                    <h:panelGroup><span>Slot Waktu</span></h:panelGroup>
                    <br/>
                    <h:panelGroup>
                        <p:selectOneMenu  value="#{periodeBean.periode.periodeTemplateJam}" converter="#{templateJamConverter}" >  
                            <f:selectItems value = "#{templateJamBean.templateJamList}" var="jam" itemLabel="#{jam.templateJamNama}" itemValue="#{jam}" />  
                        </p:selectOneMenu> 
                    </h:panelGroup>
                    <br/><br/>
                    <h:panelGroup><h:commandButton type="submit" 
                                                   action="#{periodeBean.savePeriode(periodeBean.periode)}"
                                                   value="Simpan"></h:commandButton></h:panelGroup>
                </h:panelGrid>
            </h:form>
            <hr/>
            <div class="table_class">
                <h:dataTable value="#{periodeBean.periodeList}" var="prd">
                    <h:column>
                        <f:facet name="header">Jenis</f:facet>
                        #{prd.periodeJenis}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Tgl Mulai</f:facet>
                        <h:outputText value="#{prd.periodeTglawal}" >
                                <f:convertDateTime pattern="dd MMM yyyy" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Tgl Akhir</f:facet>
                        <h:outputText value="#{prd.periodeTglakhir}" >
                                <f:convertDateTime pattern="dd MMM yyyy" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">#Pembimbing</f:facet>
                        #{prd.periodeJumlahPembimbing}
                    </h:column>
                    <h:column>
                        <f:facet name="header">#Penguji</f:facet>
                        #{prd.periodeJumlahPenguji}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Tgl Batas</f:facet>
                        <h:outputText value="#{prd.periodeTglbatas}" >
                                <f:convertDateTime pattern="dd MMM yyyy" />
                        </h:outputText>
                    </h:column>
                </h:dataTable>
            </div>
            
        </div>
        
    </ui:define>
</ui:composition>
