<ui:composition template="/WEB-INF/templates/default_inside_koordinator.xhtml"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui">
     <ui:define name="title">
        Jadwal Sidang/Seminar
    </ui:define>
    <ui:define name="content">
        <h1>Jadwal Sidang</h1>
        <h3>jadwal</h3> 
        <h3>Jadwal belum tersusun</h3>
        <h:link value="Generate jadwal untuk pertama kali" outcome="koordinator_jadwal_generate" />
    </ui:define>
</ui:composition> 