<ui:composition template="/WEB-INF/templates/default_inside_koordinator.xhtml"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui">
    <ui:define name="page_title">
        Tampilkan Slot Jadwal
    </ui:define>
    <ui:define name="content">
        <div class="well">
            <h1>Tampilkan Slot Jadwal</h1>
            <div class="table_class">
                <h:dataTable value="#{periodeBean.periodeList}" var="prd">
                    <h:column>
                        <f:facet name="header">Jadwal</f:facet>
                        <h:outputText value="#{prd.periodeTglawal}" >
                                <f:convertDateTime pattern="dd MMM yyyy" />
                        </h:outputText> - 
                        <h:outputText value="#{prd.periodeTglakhir}" >
                                <f:convertDateTime pattern="dd MMM yyyy" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Jenis</f:facet>
                        #{prd.periodeJenis}
                    </h:column>
                    <h:column>
                        <f:facet name="header">#Mahasiswa</f:facet>
                        0
                    </h:column>
                    <h:column>
                        <f:facet name="header">Status</f:facet>
                        Terbuka
                    </h:column>
                    <h:column>
                        <f:facet name="header">Action</f:facet>
                        generate tampilkan kunci
                    </h:column>
                </h:dataTable>
            </div>
        </div>
                    <h:form id="reg" styleClass="form-horizontal">
            					<div class="form-actions">
						<h:commandButton id="button"
							action="#{loginBean.generator_dump}" value="Generate"
							styleClass="btn btn-primary" />
                                                
                                                
					</div>
                </h:form>

    </ui:define>
</ui:composition> 