<ui:composition template="/WEB-INF/templates/default_inside_koordinator.xhtml"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui">
    <ui:define name="page_title">
        Daftar Mahasiswa
    </ui:define>
    <ui:define name="content">
        <h1>Daftar Mahasiswa dan Proyek Akhir</h1>
        <h:form>
            <h:panelGrid columns="2" cellpadding="5">
                <h:panelGroup><span>NIM:</span></h:panelGroup>
                <h:panelGroup><span>{mahasiswaBean.nim}</span></h:panelGroup>
                
                <h:panelGroup><span>Nama:</span></h:panelGroup>
                <h:panelGroup><span>{mahasiswaBean.nama}</span></h:panelGroup>
                
                <h:panelGroup><span>Opsi:</span></h:panelGroup>
                <h:panelGroup><span>{mahasiswaBean.opsi}</span></h:panelGroup>
                
                <h:panelGroup><span>Topik:</span></h:panelGroup>
                <h:panelGroup><span>{mahasiswaBean.topik}</span></h:panelGroup>
                
                <h:panelGroup><span>Judul</span></h:panelGroup>
                <h:panelGroup><span>{mahasiswaBean.judul}</span></h:panelGroup>
            </h:panelGrid> 
            
            <h:panelGrid columns="5" cellpadding="5">
                <h:panelGroup><span>Pembimbing:</span></h:panelGroup>
                <h:panelGroup><span>{mahasiswaBean.pembimbing}</span></h:panelGroup>
                <h:panelGroup></h:panelGroup>
                <h:panelGroup></h:panelGroup>
                <h:panelGroup></h:panelGroup>
                
                <h:panelGroup><span>Penguji1:</span></h:panelGroup>
                <h:panelGroup>
                    <p:selectOneMenu id="penguji1" value="{mahasiswaBean.jadwal_sidang}">  
                        <f:selectItem itemLabel="Tampil Penguji" itemValue="" />    
                    </p:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup><span></span></h:panelGroup>
                <h:panelGroup><span>Jadwal Sidang:</span></h:panelGroup>
                <h:panelGroup>
                    <p:selectOneMenu id="jadwal_sidang" value="{mahasiswaBean.jadwal_sidang}">  
                        <f:selectItem itemLabel="Select Jadwal" itemValue="" />    
                    </p:selectOneMenu>
                </h:panelGroup>
                
                <h:panelGroup><span>Penguji2:</span></h:panelGroup>
                <h:panelGroup>
                    <p:selectOneMenu id="penguji2" value="{mahasiswaBean.jadwal_sidang}">  
                        <f:selectItem itemLabel="Tampil Penguji" itemValue="" />    
                    </p:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup><span></span></h:panelGroup>
                <h:panelGroup><span>Ruang Sidang:</span></h:panelGroup>
                <h:panelGroup>
                    <p:selectOneMenu id="ruang_sidang" value="{mahasiswaBean.ruang_sidang}">  
                        <f:selectItem itemLabel="Select Jadwal" itemValue="" />    
                    </p:selectOneMenu>
                </h:panelGroup>
            </h:panelGrid> 
            
            <h:panelGroup><span></span></h:panelGroup>
            <h:panelGroup><span><h:commandButton type="submit" value="Simpan"></h:commandButton></span></h:panelGroup>
            <h:panelGroup><span><h:commandButton type="submit" value="Simpan"></h:commandButton></span></h:panelGroup>
            <h:panelGroup><span></span></h:panelGroup>
            
             
        </h:form>
       
    </ui:define>
</ui:composition>  
