<ui:composition template="/WEB-INF/templates/default_inside_koordinator.xhtml"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui">
    <ui:define name="page_title">
        Generate Jadwal
    </ui:define>
    <ui:define name="content">
        <div class="well">
            <h1>Generate Jadwal</h1>
            
            <h:form id="reg" styleClass="form-horizontal">
                        <div class="form-actions">
                                <h:commandButton id="button"
                                        action="#{loginBean.generator_dump}" value="Generate"
                                        styleClass="btn btn-primary" />
                                <h:commandButton id="button2"
                                        action="#{loginBean.service_mahasiswa}" value="Sync Data Mahasiswa"
                                        styleClass="btn btn-primary" />
                        </div>
                </h:form>
            <br/>
            
            <div class="table_class">
                <h:dataTable value="#{jadwalBean.jadwalList}" var="jdw">
                    <h:column>
                        <f:facet name="header">Dosen</f:facet>
                        <h:outputText value="#{jdw.jadwalDosen}" >
                                <f:convertDateTime pattern="dd MMM yyyy" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Tanggal</f:facet>
                        <h:outputText value="#{jdw.jadwalTanggal}" >
                                <f:convertDateTime pattern="dd MMM yyyy" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Jam</f:facet>
                        <h:outputText value="#{jdw.jadwalJam}" >
                                <f:convertDateTime pattern="hh:mm" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Ruang</f:facet>
                        #{jdw.jadwalRuangNamaFix}
                    </h:column>
                </h:dataTable>
            </div>
        </div>
                    

    </ui:define>
</ui:composition> 