<ui:composition template="/WEB-INF/templates/default_inside_koordinator.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui">
     <ui:define name="page_title">
        Buat slot jam
    </ui:define>
    <ui:define name="content">
        <div class="well">
            <h4>Buat Template Slot Jam</h4>
            <br/>
            <h:form>
                <h:panelGrid columns="2" border="0">
                    <h:panelGroup><span>Nama Template</span></h:panelGroup>
                    <h:panelGroup><h:inputText id="name_template" value="#{templateJamBean.templateJam.templateJamNama}"/></h:panelGroup>
                    <h:panelGroup><span>Jam Mulai</span></h:panelGroup>
                    <h:panelGroup>
                        <p:selectOneMenu value="#{templateJamBean.templateJamAwal}">                          
                            <f:selectItem itemLabel="07:00" itemValue="7"/> 
                            <f:selectItem itemLabel="08:00" itemValue="8" />  
                            <f:selectItem itemLabel="09:00" itemValue="9" />  
                            <f:selectItem itemLabel="10:00" itemValue="10" />
                            <f:selectItem itemLabel="11:00" itemValue="11" />
                            <f:selectItem itemLabel="12:00" itemValue="12" />
                            <f:selectItem itemLabel="13:00" itemValue="13" />
                            <f:selectItem itemLabel="14:00" itemValue="14" />
                            <f:selectItem itemLabel="15:00" itemValue="15" />
                            <f:selectItem itemLabel="16:00" itemValue="16" />
                            <f:selectItem itemLabel="17:00" itemValue="17" />
                        </p:selectOneMenu> 
                    </h:panelGroup>
                    <h:panelGroup><span>Jam Selesai</span></h:panelGroup>
                    <p:selectOneMenu value="#{templateJamBean.templateJamAkhir}">  
                         
                             <f:selectItem itemLabel="07:00" itemValue="7"/> 
                            <f:selectItem itemLabel="08:00" itemValue="8" />  
                            <f:selectItem itemLabel="09:00" itemValue="9" />  
                            <f:selectItem itemLabel="10:00" itemValue="10" />
                            <f:selectItem itemLabel="11:00" itemValue="11" />
                            <f:selectItem itemLabel="12:00" itemValue="12" />
                            <f:selectItem itemLabel="13:00" itemValue="13" />
                            <f:selectItem itemLabel="14:00" itemValue="14" />
                            <f:selectItem itemLabel="15:00" itemValue="15" />
                            <f:selectItem itemLabel="16:00" itemValue="16" />
                            <f:selectItem itemLabel="17:00" itemValue="17" />
                    </p:selectOneMenu> 

                    <h:panelGroup><span>#Slot Waktu</span></h:panelGroup>
                    <h:panelGroup>
                        <p:selectOneMenu value="jumlah_slot_waktu">  
                            <f:selectItem itemLabel="1" itemValue="1" />  
                            <f:selectItem itemLabel="2" itemValue="2" />  
                            <f:selectItem itemLabel="3" itemValue="3" />  
                            <f:selectItem itemLabel="4" itemValue="4" />
                            <f:selectItem itemLabel="5" itemValue="5" />  
                            <f:selectItem itemLabel="6" itemValue="6" />  
                            <f:selectItem itemLabel="7" itemValue="7" />
                            <f:selectItem itemLabel="8" itemValue="8" />
                            <f:selectItem itemLabel="9" itemValue="9" />
                            <f:selectItem itemLabel="10" itemValue="10" />
                        </p:selectOneMenu> 
                    </h:panelGroup>
                    <h:panelGroup><span>Waktu per slot</span></h:panelGroup>
                    <h:panelGroup>
                        <p:selectOneMenu value="#{templateJamBean.templateJam.templateJamLamaSlot}">  
                            <f:selectItem itemLabel="30" itemValue="30" />  
                            <f:selectItem itemLabel="45" itemValue="45" />  
                            <f:selectItem itemLabel="60" itemValue="60" />  
                            <f:selectItem itemLabel="75" itemValue="75" />
                            <f:selectItem itemLabel="90" itemValue="90" />
                            <f:selectItem itemLabel="105" itemValue="105" />
                            <f:selectItem itemLabel="120" itemValue="120" />
                        </p:selectOneMenu> 
                    </h:panelGroup>
                    <h:panelGroup><span>Jeda antar slot</span></h:panelGroup>
                    <h:panelGroup>
                        <p:selectOneMenu value="jeda_antar_slot">  
                            <f:selectItem itemLabel="0" itemValue="0" />  
                            <f:selectItem itemLabel="15" itemValue="15" />  
                            <f:selectItem itemLabel="30" itemValue="30" />  
                            <f:selectItem itemLabel="45" itemValue="45" />
                            <f:selectItem itemLabel="60" itemValue="60" />
                        </p:selectOneMenu> 
                    </h:panelGroup>
                    <h:panelGroup><span>Jam Istirahat</span></h:panelGroup>
                    <h:panelGroup>
                        <p:selectOneMenu value="#{templateJamBean.templateJamIstirahatAwal}"> 
                             <f:selectItem itemLabel="07:00" itemValue="7"/> 
                            <f:selectItem itemLabel="08:00" itemValue="8" />  
                            <f:selectItem itemLabel="09:00" itemValue="9" />  
                            <f:selectItem itemLabel="10:00" itemValue="10" />
                            <f:selectItem itemLabel="11:00" itemValue="11" />
                            <f:selectItem itemLabel="12:00" itemValue="12" />
                            <f:selectItem itemLabel="13:00" itemValue="13" />
                            <f:selectItem itemLabel="14:00" itemValue="14" />
                            <f:selectItem itemLabel="15:00" itemValue="15" />
                            <f:selectItem itemLabel="16:00" itemValue="16" />
                            <f:selectItem itemLabel="17:00" itemValue="17" />
                        </p:selectOneMenu>
                    </h:panelGroup>
                    <h:panelGroup><span>Lama Istirahat</span></h:panelGroup>
                    <h:panelGroup>
                        <p:selectOneMenu value="lama_istirahat">  
                            <f:selectItem itemLabel="0" itemValue="0" />  
                            <f:selectItem itemLabel="15" itemValue="15" />  
                            <f:selectItem itemLabel="30" itemValue="30" />  
                            <f:selectItem itemLabel="45" itemValue="45" />
                            <f:selectItem itemLabel="60" itemValue="60" />
                            <f:selectItem itemLabel="75" itemValue="75" />
                            <f:selectItem itemLabel="90" itemValue="90" />
                        </p:selectOneMenu> 
                    </h:panelGroup>
                    <h:panelGroup><h:commandButton type="submit" 
                                                   action="#{templateJamBean.saveTemplateJam(templateJamBean.templateJam)}"
                                                   value="Simpan"></h:commandButton></h:panelGroup>
                </h:panelGrid>
            </h:form>
            <hr/>
            <div class="table_class">
                <h:dataTable value="#{templateJamBean.templateJamList}" var="dsn">
                    <h:column>
                        <f:facet name="header">Nama</f:facet>
                        #{dsn.templateJamNama}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Jam Mulai</f:facet>
                        <h:outputText value="#{dsn.templateJamAwal}">
                                <f:convertDateTime pattern="hh:mm" />      
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Jam Selesai</f:facet>
                        <h:outputText value="#{dsn.templateJamAkhir}">
                                <f:convertDateTime pattern="hh:mm" />  
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">#Slot</f:facet>
                        0
                    </h:column>
                    <h:column>
                        <f:facet name="header">Waktu per Slot</f:facet>
                        #{dsn.templateJamLamaSlot}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Jeda per Slot</f:facet>
                        0
                    </h:column>
                    <h:column>
                        <f:facet name="header">Jam Istirahat</f:facet>
                        <h:outputText value="#{dsn.templateJamIstirahatAwal}">
                                <f:convertDateTime pattern="hh:mm" />
                        </h:outputText>
                    </h:column>
                </h:dataTable>
            </div>
        </div>
        
    </ui:define>
</ui:composition>
