<ui:composition template="/WEB-INF/templates/default_inside_koordinator.xhtml"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">
        Slot Jadwal Tersimpan
    </ui:define>             
    <ui:define name="content">
        <h1>Slot berhasil tersimpan!</h1>
        <h:panelGrid columns="2" border="0">
             <h:panelGroup><span>Tanggal Mulai</span></h:panelGroup>
             <h:panelGroup><span>{tgl_mulai}</span></h:panelGroup>
             
             <h:panelGroup><span>Tanggal Selesai</span></h:panelGroup>
             <h:panelGroup><span>{tgl_selesai}</span></h:panelGroup>
             
             <h:panelGroup><span>#Pembimbing</span></h:panelGroup>
             <h:panelGroup><span>{pembimbing}</span></h:panelGroup>
             
             <h:panelGroup><span>#Penguji</span></h:panelGroup>
             <h:panelGroup><span>{penguji}</span></h:panelGroup>
             
             <h:panelGroup><span>Jenis Jadwal</span></h:panelGroup>
             <h:panelGroup><span>{jenis_jadwal}</span></h:panelGroup>
             
             <h:panelGroup><span>Template Slot</span></h:panelGroup>
             <h:panelGroup><span>{template_slot}</span></h:panelGroup>
        </h:panelGrid>
    </ui:define>
        
</ui:composition>
