<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <div id="left">
        <p class="link_left">Nama User</p>
        <hr/>
        <p class="link_left"><h:link value="Buat Slot Jadwal" outcome="koordinator_add_slot"/></p>
        <p class="link_left"><h:link value="Buat Template Slot Jam" outcome="koordinator_jadwal"/></p>
        <p class="link_left"><h:link value="Tampilkan Slot Jadwal" outcome="koordinator_jadwal"/></p>
        <p class="link_left"><h:link value="Tampilkan Data Mahasiswa" outcome="koordinator_mahasiswa"/></p>
        <p class="link_left"><h:link value="Tampilkan Data Dosen" outcome="koordinator_dosen"/></p>
    </div>
</html>
