<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <div id="left">
        <hr/>
        <p class="link_left"><h:link value="Tampilkan Jadwal" outcome="dosen_jadwal"/></p>
        <p class="link_left"><h:link value="Mahasiswa Dibimbing/Diuji" outcome="dosen_mahasiswa"/></p>
        <p class="link_left"><h:link value="Pilih Mahasiswa Diuji" outcome="dosen_mahasiswapilih"/></p>
        <p class="link_left"><h:link value="Entry Ketersediaan Waktu" outcome="dosen_waktu"/></p>
    </div>
</html>
