<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/default.xhtml">
        <ui:define name="page_title">Halaman Login</ui:define>
	<ui:define name="content">
		<div class="hero-unit">
			<h2>Aplikasi Penjadwalan Seminar/Sidang Karya Akhir</h2>
                        <p>Selamat datang!
                            <br/>Untuk dapat menggunakan aplikasi ini silahkan masukkan nama user dan password.
                            <br/>Untuk mendapatkan bantuan mengenai cara menggunakan aplikasi ini, silahkan klik link dibawah ini.</p>
                        <p>
				<a href="http://oddyseus.if.itb.ac.id/"
					class="btn btn-primary btn-large">Read Me</a>
			</p>
		</div>

		<div class="well">
			<h:form id="reg" styleClass="form-horizontal">
				<fieldset>
					<h2>Login</h2>
					<br />

					<h:panelGroup
						rendered="#{(not facesContext.validationFailed) and (not empty facesContext.messageList)}">
						<div class="alert alert-success">
							<a class="close" data-dismiss="alert">Name #{loginBean.username} or password incorrect </a>
							<h:messages styleClass="messages" errorClass="invalid"
								infoClass="valid" warnClass="warning" globalOnly="true" />
						</div>
					</h:panelGroup>

					<div class="control-group #{!name.valid ? 'error' : ''}">
						<h:outputLabel for="name" value="Name:" styleClass="control-label" />
						<div class="controls">
							<h:inputText id="username" value="#{loginBean.username}"/>
							<h:message for="name" errorClass="help-inline" />
						</div>
					</div>

					<div class="control-group #{!password.valid ? 'error' : ''}">
						<h:outputLabel for="password" value="Password:"
							styleClass="control-label" />
						<div class="controls">
							<h:inputSecret id="password" value="#{loginBean.password}"/>
							<h:message for="password" errorClass="help-inline" />
						</div>
					</div>

					<div class="form-actions">
						<h:commandButton id="button"
							action="#{loginBean.doLogin}" value="login"
							styleClass="btn btn-primary" />
                                                <br/><br/>
                                                <h:link value="Forget password" outcome="forget" />
					</div>
				</fieldset>
                            
			</h:form>
                    
		</div>
	</ui:define>
</ui:composition>
