<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/default_inside_koordinator.xhtml">
        <ui:define name="page_title">Koordinator</ui:define>
        <ui:define name="left_menu">
            <div class="well">
                <ui:include src="left_koordinator.xhtml"/>
                <ui:include src="left_dosen.xhtml"/>
            </div>
        </ui:define>
	<ui:define name="content">
		<div class="well">
                    <h4>Selamat datang di halaman Koordinator!</h4>
                    <br/>
                    
		</div>
	</ui:define>
</ui:composition>
