<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title><ui:insert name="page_title"></ui:insert></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Le styles -->
	<h:outputStylesheet name="css/bootstrap.min.css" />
	<h:outputStylesheet name="css/DT_bootstrap.css" />
        <h:outputStylesheet name="css/custom_table.css" />
	<!-- JQuery DataTable plugin -->

	<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}
</style>

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<!-- Le fav and touch icons
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
	-->

</h:head>
<h:body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" href="#">#{app.applicationName}</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><h:link value="Home" outcome="main_koordinator"/></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					<p class="navbar-text pull-right">
						Logged in as <a href="#">username</a>
					</p>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">
            <div class="row">
                <div class="span3">
                    <ui:insert name="left_menu">
                    <div class="well">
                        <ui:include src="../../left_koordinator.xhtml"/>
                        <ui:include src="../../left_dosen.xhtml"/>
                    </div>
                    </ui:insert>
                </div>
                <div class="span9">
                    <ui:insert name="content">
                    [Template content will be inserted here]
                </ui:insert>
                </div>
            </div>
            
		
		<hr />

		<footer>
		<p>&copy; BBBE 2014</p>
		</footer>

	</div>
	<!--/.fluid-container-->

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

</h:body>
</html>
